.image {
  width: fit-content;
}
.image figure,
.image img { padding: 0; margin: 0; }

.image figcaption { margin: 1rem; }

.image button {
  padding: 0;
  background-color: transparent;
}
.image button > * { margin: 0; }
.image button:focus,
.image button:hover {
  color: var(--color-brand);
  outline: 5px solid var(--color-brand);
}

dialog {
  margin: auto;
  border: none;
}
dialog img {
  max-width: 90svw;
  max-height: 90svh;
}
dialog::backdrop {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
}
dialog button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
dialog button span {
  position: absolute;
  visibility: hidden;
}
dialog figcaption {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background: white;
  font-size: 1.25rem;
  padding: 0.5rem;
}
