.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 0;
  list-style-type: none;
}

.projects-list li {
  --padding: 1rem;
  position: relative;
}
.projects-list a {
  display: block;
  height: 100%;
  transition-duration: 0.2s;
  transition-property: color border-color outline-color;

  padding: var(--padding);

  text-decoration: none;
  color: var(--color-neutral-dark);

  outline-width: 0px;
  outline-style: solid;
  outline-color: var(--color-brand);
  border: 2px solid var(--color-neutral-dark);
  border-radius: var(--border-radius);
}
.projects-list a span {
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: var(--padding);
}
.projects-list a:focus,
.projects-list a:hover {
  color: var(--color-brand);
  border-color: var(--color-brand);
  outline-width: 5px;
}

.image-and-links { position: relative; }
.file-download-links {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
